<div
  class="cuneiform"
  style="
    margin-top: 30px;
    height: 50px;
    font-size: large;
    display: flex;
    justify-content: center;
  "
>
  ALMA DEL ARRECIFE
</div>

<div
  style="
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  "
>
  <div
    style="
      width: 350px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin-left: 5px;
    "
  >
    <div><b>Nombre:</b></div>
    <input type="text" />
  </div>
  <div
    style="
      width: 350px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 10px;
    "
  >
    <div style="display: flex; flex-direction: column; align-items: center">
      <div>FUE</div>
      <div>
        {{ strength }}
      </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center">
      <div>AGI</div>
      <div>
        {{ agility }}
      </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center">
      <div>VOL</div>
      <div>
        {{ will }}
      </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center">
      <div>OJO</div>
      <div>
        {{ eye }}
      </div>
    </div>
  </div>
  <div
    style="
      width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 5px;
    "
  >
    <div><b>Arma</b> {{ weapon }}</div>
    <div><b>Armadura</b> {{ armour }}</div>
    <div><b>Herramienta</b> 1: {{ tool1 }}</div>
    <div><b>Herramienta</b> 2: {{ tool2 }}</div>
    <div>+20 Nautilos</div>
  </div>
  <div
    style="
      width: 350px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-left: 5px;
    "
  >
    <div style="width: 175px; display: flex; flex-direction: column">
      <div><b>Cuerpo</b> {{ body }}</div>
      <div><b>Detalle</b> {{ detail }}</div>
      <div><b>Pelo</b> {{ hair }}</div>
      <div><b>Edad</b> {{ age }}</div>
    </div>

    <div style="width: 175px; display: flex; flex-direction: column">
      <div><b>Virtud</b> {{ virtue }}</div>
      <div><b>Vicio</b> {{ vice }}</div>
      <div><b>Desgracia</b> {{ tragedy }}</div>
      <div><b>Trasfondo</b> {{ background }}</div>
    </div>
  </div>
</div>
