<div
  style="
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  "
>
  <div
    style="
      width: 350px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin-left: 5px;
    "
  >
    <div>Nombre:</div>
    <input type="text" />
  </div>
  <div
    style="
      width: 350px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 10px;
    "
  >
    <div style="display: flex; flex-direction: column; align-items: center">
      <div>FUE</div>
      <div>
        {{ strength }}
      </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center">
      <div>AGI</div>
      <div>
        {{ agility }}
      </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center">
      <div>VOL</div>
      <div>
        {{ will }}
      </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center">
      <div>OJO</div>
      <div>
        {{ eye }}
      </div>
    </div>
  </div>
  <div
    style="
      width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-left: 5px;
    "
  >
    <div>Arma: {{ weapon }}</div>
    <div>Armadura: {{ armour }}</div>
    <div>Herramienta 1: {{ tool1 }}</div>
    <div>Herramienta 2: {{ tool2 }}</div>
    <div>+20 Nautilos</div>
  </div>
  <div
    style="
      width: 350px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-left: 5px;
    "
  >
    <div style="width: 175px; display: flex; flex-direction: column">
      <div>Cuerpo: {{ body }}</div>
      <div>Detalle: {{ detail }}</div>
      <div>Pelo: {{ hair }}</div>
      <div>Edad: {{ age }}</div>
    </div>

    <div style="width: 175px; display: flex; flex-direction: column">
      <div>Virtud: {{ virtue }}</div>
      <div>Vicio: {{ vice }}</div>
      <div>Desgracia: {{ tragedy }}</div>
      <div>Trasfondo: {{ background }}</div>
    </div>
  </div>
</div>
