<div
  style="
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  "
>
  <div
    style="
      width: 350px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin-left: 5px;
    "
  >
    <div>Nombre:</div>
    <input type="text" />
  </div>
  <div
    style="
      width: 350px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 10px;
    "
  >
    <div style="display: flex; flex-direction: column; align-items: center">
      <div>FUE</div>
      <div>
        {{ strength }}
      </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center">
      <div>AGI</div>
      <div>
        {{ agility }}
      </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center">
      <div>VOL</div>
      <div>
        {{ will }}
      </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center">
      <div>OJO</div>
      <div>
        {{ eye }}
      </div>
    </div>
  </div>
  <div
    style="
      width: 360px;
      height: 400px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    "
  >
    <div style="width: 175px; display: flex; flex-direction: column">
      <div
        style="
          display: flex;
          justify-content: center;
          height: 20px;
          border-style: solid;
          border-width: 1px;
        "
      >
        Herramientas
      </div>
      <div style="height: 60px; border-style: solid; border-width: 1px">
        {{ tool1 }}
      </div>
      <div style="height: 60px; border-style: solid; border-width: 1px">
        {{ tool2 }}
      </div>
      <div style="height: 60px; border-style: solid; border-width: 1px">
        {{ tool3 }}
      </div>
      <div style="height: 60px; border-style: solid; border-width: 1px">
        {{ tool4 }}
      </div>
      <div style="height: 60px; border-style: solid; border-width: 1px">
        {{ tool5 }}
      </div>
      <div style="height: 60px; border-style: solid; border-width: 1px">
        {{ tool6 }}
      </div>
    </div>

    <div style="width: 175px; display: flex; flex-direction: column">
      <div
        style="
          display: flex;
          justify-content: center;
          height: 20px;
          border-style: solid;
          border-width: 1px;
        "
      >
        Mercancías
      </div>
      <div style="height: 60px; border-style: solid; border-width: 1px">
        {{ merch1 }}
      </div>
      <div style="height: 60px; border-style: solid; border-width: 1px">
        {{ merch2 }}
      </div>
      <div style="height: 60px; border-style: solid; border-width: 1px">
        {{ merch3 }}
      </div>
      <div style="height: 60px; border-style: solid; border-width: 1px">
        {{ merch4 }}
      </div>
      <div style="height: 60px; border-style: solid; border-width: 1px">
        {{ merch5 }}
      </div>
      <div style="height: 60px; border-style: solid; border-width: 1px">
        {{ merch6 }}
      </div>
    </div>
  </div>
  <div
    style="
      width: 350px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-left: 5px;
    "
  >
    <div style="width: 175px; display: flex; flex-direction: column">
      <div>Cuerpo: {{ body }}</div>
      <div>Detalle: {{ detail }}</div>
      <div>Pelo: {{ hair }}</div>
      <div>Edad: {{ age }}</div>
    </div>

    <div style="width: 175px; display: flex; flex-direction: column">
      <div>Virtud: {{ virtue }}</div>
      <div>Vicio: {{ vice }}</div>
      <div>Desgracia: {{ tragedy }}</div>
      <div>Trasfondo: {{ background }}</div>
    </div>
  </div>
</div>
